<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Published</th>
            <th scope="col">Datetime</th>
            <th scope="col">MaxParticipants</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.id }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.published }}</td>
            <td>{{ event.dateTime}}</td>
            <td>{{ event.maxParticipants }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>