<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="event.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter event name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Event name is required</div>
        <div class="form-group">
          <label for="published">Is published</label>
          <input type="checkbox" [(ngModel)]="event.published" 
            class="form-control" 
            id="published" 
            name="published"
            #published="ngModel">
        </div>
        <div class="form-group">
            <label for="dateTime">DateTime</label>
            <input type="text" [(ngModel)]="event.dateTime"
                class="form-control"
                id="dateTime"
                name="dateTime"
                placeholder="yyyy-MM-ddTHH:MM:SS"
                required #dateTime="ngModel">
        </div>
        <div [hidden]="!dateTime.pristine" class="alert alert-danger">DateTime is requiered</div>
        <div class="form-group">
           <label for="maxParticipants">Maximum Participants</label>
           <input type="number" [(ngModel)]="event.maxParticipants"
            class="form-control"
            id="maxParticipants"
            name="maxParticipants"
            placeholder=10
            required #maxParticipants="ngModel"> 
        </div> 
        <div [hidden]="!maxParticipants.pristine" class="alert alert-danger">Max Participants is requiered</div>
        <button type="submit" [disabled]="!eventForm.form.valid" 
          class="btn btn-info">Create new event</button>
      </form>
    </div>
  </div>